body {
    background: #cbedb5;
    padding-top: 25px;
}

.main-image {
    max-width: 100%;
}

.pet-image {
    width: 30px;
    height: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
.top-row {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between
}

.top-row>div {
    display: flex;
    align-items: center;
}

.top-row input {
    height: 18px;
    width: 18px;
    padding-right: 10px;
}

.top-row label {
    padding-left: 5px;
}

.clicked-btn {
    background: #e96806 !important;
    transform: scale(1.04);
}

.custom-css {
    background: #eeeeee;
    font-family: 'Poppins', sans-serif !important;
}

.custom-css button {
    background: #e99414;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    transition: all .5s;
    outline: none;
}

.custom-css button:hover {
    background: #e96806;
}

.custom-css img {
    border-radius: 5px;
}

.custom-css .main-image {
    border-radius: 5px;
    height: 250px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.custom-css thead>tr>th:nth-child(4) {
    text-align: center;
}

.custom-css td {
    vertical-align: middle;
}

.custom-css tr {
    transition: all .5s;
}

.custom-css tbody>tr:hover {
    transform: scale(1.02);
}